# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-selfcheck.json
.pytest_cache/

# 虚拟环境
.env
.env.local
*.env.*

# 日志
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
overtime.db